<!DOCTYPE html>
<html lang="az" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="index, follow">
    <meta name="apple-mobile-web-app-status-bar-style" content="#3D3C7A">
    <meta name="msapplication-navbutton-color" content="#3D3C7A">
    <meta name="theme-color" content="#3D3C7A">
    <link rel="icon" type="image/svg+xml" href="/assets/images/logo-single.svg">
    <link rel="alternate icon" href="/assets/images/logo-single.svg">
    <link rel="mask-icon" href="/assets/images/logo-single.svg">
    <title>Abbasov Əkbər</title>
  <link href="/assets/css/80.css" rel="stylesheet"><link href="/assets/css/main.css" rel="stylesheet"></head>
  <body class="inpage">
    <nav>
      <div class="container">
        <div class="navbar"><a class="logo" href="/"><img class="mr-12" src="/assets/images/logo.svg"></a>
          <div class="right">
            <div class="tools">
              <div class="aim-platform mr-8 d-lg-none">
                <p>AİM Platforması<i class="aim-enter size20 ml-8"></i></p>
                <div class="switch-languages"><a target="_blank" href="https://aim-farmer.saffman.uk">Fermer</a><a target="_blank" href="https://aim-organization.saffman.uk">Qurum</a></div>
              </div>
              <div class="language mr-8 d-lg-none"><a>AZ<i class="aim-angle-down size12 ml-4"></i></a>
                <div class="switch-languages"><a>RU</a><a>EN</a></div>
              </div>
              <!--button(type="button").btn40.mr-8.d-xl-none.br4.open-glassesi.aim-glasses-alt.size20
              -->
              <button class="btn40 mr-8 d-lg-none br4 open-search" type="button"><i class="aim-search size20"></i></button>
              <button class="btn40 br4 open-hamburger" type="button"><i class="aim-bars size16"></i></button>
            </div>
            <form class="header-searchbar mr-8" action="">
              <div class="form-container"><i class="aim-search size20 mr-8"></i>
                <input type="text" placeholder="Axtarış edin">
              </div>
            </form>
            <button class="btn40 br4 close-btn" type="button"><i class="aim-close size20"></i></button>
          </div>
        </div>
      </div>
    </nav>
    <div class="main-nav d-xl-none">
      <div class="container">
            <ul class="main-nav__list">
              <li class="main-nav__three"><a href="javascript:void(0)"> Haqqımızda</a>
                <div class="main-nav-three__body">
                  <ul class="main-nav-three__list">
                        <li><a href="/haqqimizda/merkez.html">Mərkəz haqqında</a></li>
                        <li><a href="/haqqimizda/vision.html">Vision və Mission</a></li>
                        <li><a href="/haqqimizda/rehberlik.html">Rəhbərlik</a></li>
                        <li><a href="/haqqimizda/struktur.html">Struktur</a></li>
                  </ul>
                </div>
              </li>
              <li class="main-nav__three"><a href="javascript:void(0)"> Qanunvericilik</a>
                <div class="main-nav-three__body">
                  <ul class="main-nav-three__list">
                        <li><a href="/qanunvericilik/qanun.html">Qanunlar</a></li>
                        <li><a href="/qanunvericilik/strateji.html">Strateji yol xəritəsi</a></li>
                        <li><a href="/qanunvericilik/dovlet.html">Dövlət proqramları</a></li>
                        <li><a href="/qanunvericilik/nizam.html">Nizamnamə</a></li>
                  </ul>
                </div>
              </li>
                  <li><a href="/innovasiya/teqvim.html">İnnovasiya təqvimi</a></li>
              <li class="main-nav__three"><a href="javascript:void(0)"> Hesabatlar</a>
                <div class="main-nav-three__body">
                  <ul class="main-nav-three__list">
                        <li><a href="/hesabatlar/umumi.html">Ümumi Hesabatlar</a></li>
                        <li><a href="/hesabatlar/innovasiya.html">İnnovasiya festivalı</a></li>
                        <li><a href="/hesabatlar/musabiqe.html">Müsabiqələr</a></li>
                        <li><a href="/hesabatlar/layihe.html">Layihələr</a></li>
                  </ul>
                </div>
              </li>
              <li class="main-nav__three"><a href="javascript:void(0)"> Media</a>
                <div class="main-nav-three__body">
                  <ul class="main-nav-three__list">
                        <li><a href="/media/xeberler.html">Xəbərlər</a></li>
                        <li><a href="/media/elanlar.html">Elanlar</a></li>
                        <li><a href="/media/multi.html">Multimedia</a></li>
                        <li><a href="/media/brandbook.html">Brandbook</a></li>
                  </ul>
                </div>
              </li>
                  <li><a href="/elaqe.html">Əlaqə</a></li>
            </ul>
      </div>
    </div>
    <div class="hamburger-menu head">
      <div class="container">
        <div class="tools mb-xs-24 mb-md-36">
          <div class="left">
            <div class="aim-platform mr-8">
              <p>AİM Platforması<i class="aim-enter size20 ml-8"></i></p>
              <div class="switch-languages"><a target="_blank" href="https://aim-farmer.saffman.uk">Fermer</a><a target="_blank" href="https://aim-organization.saffman.uk">Qurum</a></div>
            </div>
            <div class="language mr-8"><a>AZ<i class="aim-angle-down size12 ml-4"></i></a>
              <div class="switch-languages"><a>RU</a><a>EN</a></div>
            </div>
            <button class="btn40 br4 open-search-mobile" type="button"><i class="aim-search size20"></i></button>
          </div>
          <div class="mobile-search">
            <form class="header-searchbar mr-8" action="">
              <div class="form-container"><i class="aim-search size20 mr-8"></i>
                <input type="text" placeholder="Axtarış edin">
              </div>
            </form>
            <button class="btn40 br4 close-btn" type="button"><i class="aim-close size20"></i></button>
          </div>
        </div>
        <div class="row gy-md-36 gy-xs-24 hamburger-menu">
              <div class="col-lg-4 col-md-4">
                <div class="hamburger-menu__box"><a class="hamburger-menu__title">Haqqımızda</a>
                  <ul class="hamburger-menu__list">
                    <li class="hamburger-menu__item"><a href="/haqqimizda/merkez.html">Mərkəz haqqında</a></li>
                    <li class="hamburger-menu__item"><a href="/haqqimizda/vision.html">Vision və Mission</a></li>
                    <li class="hamburger-menu__item"><a href="/haqqimizda/rehberlik.html">Rəhbərlik</a></li>
                    <li class="hamburger-menu__item"><a href="/haqqimizda/struktur.html">Struktur</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="hamburger-menu__box"><a class="hamburger-menu__title">Qanunvericilik</a>
                  <ul class="hamburger-menu__list">
                    <li class="hamburger-menu__item"><a href="/qanunvericilik/qanun.html">Qanunlar</a></li>
                    <li class="hamburger-menu__item"><a href="/qanunvericilik/strateji.html">Strateji yol xəritəsi</a></li>
                    <li class="hamburger-menu__item"><a href="/qanunvericilik/dovlet.html">Dövlət proqramları</a></li>
                    <li class="hamburger-menu__item"><a href="/qanunvericilik/nizam.html">Nizamnamə</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="hamburger-menu__box"><a class="hamburger-menu__title">Hesabatlar</a>
                  <ul class="hamburger-menu__list">
                    <li class="hamburger-menu__item"><a href="/hesabatlar/umumi.html">Ümumi Hesabatlar</a></li>
                    <li class="hamburger-menu__item"><a href="/hesabatlar/innovasiya.html">İnnovasiya festivalı</a></li>
                    <li class="hamburger-menu__item"><a href="/hesabatlar/musabiqe.html">Müsabiqələr</a></li>
                    <li class="hamburger-menu__item"><a href="/hesabatlar/layihe.html">Layihələr</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="hamburger-menu__box"><a class="hamburger-menu__title">Media</a>
                  <ul class="hamburger-menu__list">
                    <li class="hamburger-menu__item"><a href="/media/xeberler.html">Xəbərlər</a></li>
                    <li class="hamburger-menu__item"><a href="/media/elanlar.html">Elanlar</a></li>
                    <li class="hamburger-menu__item"><a href="/media/multi.html">Multimedia</a></li>
                    <li class="hamburger-menu__item"><a href="/media/brandbook.html">Brandbook</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="hamburger-menu__box"><a class="hamburger-menu__title">Digər</a>
                  <ul class="hamburger-menu__list">
                    <li class="hamburger-menu__item bold"><a href="/platforma.html">Aqrar İnnovasiya Platforması</a></li>
                    <li class="hamburger-menu__item bold"><a href="/innovasiya/teqvim.html">İnnovasiya təqvimi</a></li>
                    <li class="hamburger-menu__item bold"><a href="/elaqe.html">Əlaqə</a></li>
                  </ul>
                </div>
              </div>
        </div>
      </div>
    </div>
    <section class="breadcrumb">
      <div class="container">
        <ul>
          <li><a href="/">Ana səhifə</a></li>
          <li><a href="/">Haqqımızda</a></li>
          <li><a href="/">Rəhbərlik</a></li>
          <li>Abbasov Əkbər</li>
        </ul>
      </div>
    </section>
    <section class="in-page">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="sidebar">
              <ul>
                <li><a href="/haqqimizda/merkez.html">Mərkəz haqqında</a></li>
                <li><a href="/haqqimizda/vision.html">Vision və Mission</a></li>
                <li class="active"><a href="/haqqimizda/rehberlik.html">Rəhbərlik</a></li>
                <li><a href="/haqqimizda/struktur.html">Struktur</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="in-page__content">
              <div class="in-page__title mb-24">
                <h1>Abbasov Əkbər</h1>
              </div>
              <article class="in-page__main">
                <div class="management-page__cover mb-24"><img src="/assets/images/management.png"></div>
                <p>  - Mərkəz kənd təsərrüfatı sahəsində tələbata yönümlülük, keyfiyyət, innovasiya prinsipləri və iqtisadi sahədə qabaqcıl digər beynəlxalq prinsip və standartlar nəzərə alınmaqla aşağıdakı istiqamətlərdə fəaliyyət göstərir:</p>
                <p>&nbsp;</p>
                <p>   - Nazirlik sistemində fəaliyyət göstərən elmi - tədqiqat müəssisələrində kənd təsərrüfatının mühüm istiqamətləri üzrə fundamental və tətbiqi tədqiqatların planlaşdırılması və koordinasiyası; ailə təsərrüfatlarına, kiçik və orta sahibkarlara dəstək layihələrinin həyata keçirilməsi, bu layihələrin maliyyələşdirilməsi məqsədi ilə fondların yaradılması;</p>
                <p>&nbsp;</p>
                <p>  - Azərbaycan Milli Elmlər Akademiyası və Elm Fondu ilə əlaqəli şəkildə müvafiq elmi təşkilatların və ali təhsil müəssisələrinin elmi və elmi - praktiki fəaliyyətinin əlaqələndirilməsində iştirak;</p>
                <p>&nbsp;</p>
                <p>  - Tətbiqi tədqiqatların nəticələrinin təhlil edilməsi, tətbiqə yönləndirilməsi, Regional Aqrar Elm və İnnovasiya Mərkəzləri şəbəkəsi vasitəsi ilə təbliği və yayılması;</p>
                <p>&nbsp;</p>
                <p>  - Müasir texnologiyaların tətbiqi və istehsal avadanlıqlarından istifadə ilə bağlı təlimlərin keçirilməsi, həmin texnoloji avadanlıqlara texniki dəstəyin təmin edilməsi, beynəlxalq təcrübə, kənd təsərrüfatı sahəsində istifadə olunan ən qabaqcıl texnoloji yeniliklərlə bağlı məlumatlandırma;</p>
                <p>&nbsp;</p>
                <p>  - Elmi-tədqiqat institutlarında yaradılmış yeni bitki sortları, hibridləri və heyvan cinslərinin müvafiq olaraq ilkin toxumçuluğunun və damazlıq işinin təşkili.</p>
                <p>&nbsp;</p>
                <p>   - Beynəlxalq elm mərkəzləri və xarici ölkələrin müvafiq elmi müəssisələri ilə əlaqələrin yaradılması, birgə layihələr üzrə kompleks elmi - tədqiqat işlərinin aparılmasının təşkili, beynəlxalq və regional layihələrdə iştirak.</p>
                <p>&nbsp;</p>
                <p>   - Fəaliyyət istiqamətlərinə uyğun olaraq doktorantura və dissertantura yolu ilə elmi kadrlar və mütəxəssislər hazırlamaq;</p>
                <p>&nbsp;</p>
                <p>  - Aqrar sahədə müasir texnologiyalardan istifadənin üstünlüklərinin təbliği, biliklərin mənimsənilməsi və yayılması, sahə elmi - tədqiqat institutları, ali təhsil müəssisələri, yerli özünüidarəetmə orqanları və qeyri - hökümət təşkilatları ilə əlaqəli şəkildə ölkənin kənd təsərrüfatında innovasiyalı iqtisadiyyatın inkişaf etdirilməsində iştirak;</p>
              </article>
            </div>
            <!--.second-block.mt-60
            .in-page__content.mobile
              .second-block-head.mb-24
                h1.second-block-head__title Digər
                .slider-arrows-inpage__box
                  button.prev
                    i.aim-long-arrow-right.size32
            
                  button.next
                    i.aim-long-arrow-right.size32
              .news-slider.owl-carousel
                a(href="/haqqimizda/rehberlik-daxili.html").management-card.small.slide
                  .row
                    .col-lg-12
                      .management-card__cover
                        img(src=require('/src/img/management.png'))
                    .col-lg-12
                      .management-card__info.p-xs-16.p-lg-24
                        h6.management-card__position.mb-16 DİREKTOR MÜAVİNİ
                        .management-card__fullname.mb-8
                          span Soyad
                          span Ad
            
                a(href="/haqqimizda/rehberlik-daxili.html").management-card.small.slide
                  .row
                    .col-lg-12
                      .management-card__cover
                        img(src=require('/src/img/management.png'))
                    .col-lg-12
                      .management-card__info.p-xs-16.p-lg-24
                        h6.management-card__position.mb-16 DİREKTOR MÜAVİNİ
                        .management-card__fullname.mb-8
                          span Soyad
                          span Ad
            -->
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 d-lg-none">
              <div class="footer-top__logo"><img src="/assets/images/logo-white.svg"></div>
            </div>
            <div class="col-lg-9">
              <div class="row gy-md-36 gy-xs-24 hamburger-menu">
                    <div class="col-lg-4 col-md-4">
                      <div class="hamburger-menu__box"><a class="hamburger-menu__title">Haqqımızda</a>
                        <ul class="hamburger-menu__list">
                          <li class="hamburger-menu__item"><a href="/haqqimizda/merkez.html">Mərkəz haqqında</a></li>
                          <li class="hamburger-menu__item"><a href="/haqqimizda/vision.html">Vision və Mission</a></li>
                          <li class="hamburger-menu__item"><a href="/haqqimizda/rehberlik.html">Rəhbərlik</a></li>
                          <li class="hamburger-menu__item"><a href="/haqqimizda/struktur.html">Struktur</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <div class="hamburger-menu__box"><a class="hamburger-menu__title">Qanunvericilik</a>
                        <ul class="hamburger-menu__list">
                          <li class="hamburger-menu__item"><a href="/qanunvericilik/qanun.html">Qanunlar</a></li>
                          <li class="hamburger-menu__item"><a href="/qanunvericilik/strateji.html">Strateji yol xəritəsi</a></li>
                          <li class="hamburger-menu__item"><a href="/qanunvericilik/dovlet.html">Dövlət proqramları</a></li>
                          <li class="hamburger-menu__item"><a href="/qanunvericilik/nizam.html">Nizamnamə</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <div class="hamburger-menu__box"><a class="hamburger-menu__title">Hesabatlar</a>
                        <ul class="hamburger-menu__list">
                          <li class="hamburger-menu__item"><a href="/hesabatlar/umumi.html">Ümumi Hesabatlar</a></li>
                          <li class="hamburger-menu__item"><a href="/hesabatlar/innovasiya.html">İnnovasiya festivalı</a></li>
                          <li class="hamburger-menu__item"><a href="/hesabatlar/musabiqe.html">Müsabiqələr</a></li>
                          <li class="hamburger-menu__item"><a href="/hesabatlar/layihe.html">Layihələr</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <div class="hamburger-menu__box"><a class="hamburger-menu__title">Media</a>
                        <ul class="hamburger-menu__list">
                          <li class="hamburger-menu__item"><a href="/media/xeberler.html">Xəbərlər</a></li>
                          <li class="hamburger-menu__item"><a href="/media/elanlar.html">Elanlar</a></li>
                          <li class="hamburger-menu__item"><a href="/media/multi.html">Multimedia</a></li>
                          <li class="hamburger-menu__item"><a href="/media/brandbook.html">Brandbook</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <div class="hamburger-menu__box"><a class="hamburger-menu__title">Digər</a>
                        <ul class="hamburger-menu__list">
                          <li class="hamburger-menu__item bold"><a href="/platforma.html">Aqrar İnnovasiya Platforması</a></li>
                          <li class="hamburger-menu__item bold"><a href="/innovasiya/teqvim.html">İnnovasiya təqvimi</a></li>
                          <li class="hamburger-menu__item bold"><a href="/elaqe.html">Əlaqə</a></li>
                        </ul>
                      </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="footer-bottom">
          <p>Bütün hüquqlar qorunur © 2021</p>
          <div class="social-media"><a class="social-media__item" href="/"><i class="aim-facebook size20"></i></a>
            <!--a.social-media__item(href="/")i.aim-instagram.size20
            -->
            <!--a.social-media__item(href="/")i.aim-telegram.size20
            -->
            <!--a.social-media__item(href="/")i.aim-youtube.size20
            -->
            <!--a.social-media__item(href="/")i.aim-linkedin.size20
            -->
            <!--a.social-media__item(href="/")
            i.aim-twitter.size20
            
            -->
          </div>
          <p>Sayt <b>Safaroff Agentliyi</b> tərəfindən hazırlanılmışdır</p>
        </div>
      </div>
    </footer>
  <script defer src="/assets/js/80.js"></script><script defer src="/assets/js/main.js"></script></body><script>(function(d){var s = d.createElement("script");s.setAttribute("data-account", "eyYhlKz49t");s.setAttribute("src", "https://cdn.userway.org/widget.js");(d.body || d.head).appendChild(s);})(document)</script><noscript>Please ensure Javascript is enabled for purposes of <a href="https://userway.org">website accessibility</a></noscript>
</html>